.container {
  margin: 4rem auto;
  width: max 300px;
}

.container span {
  font-size: 4rem;
}

.barraDeStatus {
  margin-top: 1rem;
  background-color: lightgrey;
  width: fit-content;
  margin-inline: auto;
  padding: 0.5rem;
  border-radius: 7px;
  line-height: 1;
}

.barroDeStatusSucesso {
  font-size: large;
  font-weight: bold;
  background-color: lightgreen;
}
