.container {
  text-align: center;
}

.botaoNovaLista {
  padding: 0.5rem;
  cursor: pointer;
  background-color: whitesmoke;

  font-size: large;
  font-weight: bold;

  color: black;
  border-radius: 0.75rem;
  border: 1px solid gray;
  border-radius: 3px;
  font-weight: bold;
}

.listaDeExercicios {
  display: flex;
  padding: 0.5rem;

  justify-content: space-around;
  border-bottom: 1px solid black;
}
